<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Homesick</title>
	<meta name="description" content="Homesick is the graduation project of Varun Vachhar completed at the Dutch Royal Academy of Art.">
	<meta name="author" content="Varun Vachhar">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons and app icons
	================================================== -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
</head>
<body>
	<!-- CONTAINER -->
	<div class="container">
		<!-- NAVBAR -->
		<div class="sixteen columns small-bottom">
			<div class="navbar">
				<h1>
					<a href="/">Homesick</a>
					<small class="subheader version">version 1.8</small></h1>
					<ul>
						<li><a href="#about">about</a></li>
						<li><a href="/app" target="_blank">shapeBuilder</a></li>
						<li><a href="/polygons">polygonsExporter</a></li>
					</ul>
			</div>
			<hr />
		</div>
		<!-- END NAVBAR -->

		<!-- HERO -->
		<div class="sixteen columns add-bottom" id="hero"> 
			<div class="swipe-wrap small-bottom">
				<div class="slide"><img src="/img/colours.png"></div>
				<div class="slide"><img src="/img/homesick1.png"></div>
				<div class="slide"><img src="/img/homesick2.png"></div>
				<div class="slide"><img src="/img/homesick3.png"></div>
				<div class="slide"><img src="/img/homesick4.png"></div>
				<div class="slide"><img src="/img/homesick5.png"></div>
				<div class="slide"><img src="/img/logo.png"></div>
			</div>
			<div id="controls">
				<div class="arrows">
					<i id="left" class="arrow left icon-angle-left icon-4x"></i>
					<i id="right" class="arrow right icon-angle-right icon-4x"></i>
				</div> 
			</div>
			<p>INSTALLATION | 95 metal hooks, 16.5m of steel cable, 1 turnbuckle, 103 sq.m. of cloth &amp; thread | 6.80m x 5.00m x 3.88m | SOFTWARE | processing.js, three.js, angular.js, node.js, mongodb &amp; heroku</p>
		</div>
		<!-- END HERO -->

		<!-- ABOUT -->
		<div id="about" class="sixteen columns add-bottom">
			<h2>About</h2>
			<p>In 2012, after five years away, I finally had a chance to return to India. After living in Canada, I identified more as an Indian than ever before, and I was eager to reconnect with my country. Once I arrived in Delhi, I discovered that my childhood home had been sold, and was soon to be demolished and replaced by an apartment building. My family had moved out of the neighbourhood I had lived in for 18 years. The Delhi I knew had been replaced by something entirely new: markets replaced with luxury shopping malls, farmland replaced by suburban sprawl, and a brand-new subway system linking the whole city, so that tourists now popped up in places that were previously off-limits to anyone who wasn't strictly local. These changes meant that, despite my return, I wasn't really coming back to the same place. It seemed as though a large part of me was missing, and perhaps could never be found.</p>

			<p>This feeling of absence remained with me very strongly, even as I returned to Canada and resumed daily life. Over time the feeling seeped into my subconscious and had a dramatic impact on my everyday actions. I made a playlist of Indian music that I listened to over and over and I had an urge to see Bollywood films that I would have scoffed at had I seen them while I was still living in India. Eventually the feeling seeped into my work, too. In the course of buying materials for an abstract sculpture, I tried to explain the colours I needed to a shopkeeper. In frustration, I pulled out my phone to show him a sketch.</p>
			
			<p>"Oh, I know what you're making," he said. I was surprised, as I didn't quite know yet myself.<br/>
				"You're making an Indian wedding tent."<br/>
				The feeling became clear: I was homesick.<br/></p>

			<p>This is where Avrïl came in. As a former navy brat who re-located nine times before she turned eighteen-years-old, she understood what it meant to be homesick for a place that doesn't quite exist. Together we developed a cure: my abstract installation became <em>Homesick</em>.</p>

			<p><em>Homesick</em> is a place that takes me back to my lost home. Something that collapses into a suitcase, so that I can take it with me wherever I go. We created this installation to give the feeling of being in the India that I left behind. The place no longer exists, except in my mind, so this is our attempt to keep it alive for myself and also to share it with others. Although the inspiration started with India, it is a place for everyone to feel at home, no matter which home they are missing.</p> 
		</div>
		<!-- END ABOUT -->

		<!-- THREE COLUMNS -->
		<div class="one-third column add-bottom">
			<h3>How It Works</h3>
			<img class="one-third column" src="img/two.svg">
			<p><em>Homesick</em> consists of pieces of fabric that are strung between hooks, creating an over-arching, cocoon-like shape. Once inside, the space around the viewer is transformed into an enveloping sense of warm colours and comfort. In other words, they are home.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>The Shape-Builder</h3>
			<img class="one-third column" src="img/threeDark.svg">
			<p>To create the installation, I developed a custom software to design complex shapes using 3 or 4 sided polygons, which also outputs corresponding construction plans.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>Specific Objects</h3>
			<img class="one-third column" src="img/one.svg">
			<p>I have been greatly influenced by Donald Judd's idea of Specific Objects in creating this installation. In Judd's words: <em>"Three dimensions are real space. That gets rid of the problem of illusionism and of literal space, space in and around marks and colours."</em></p>
		</div>
		<!-- END THREE COLUMNS -->

		<!-- FOOTER -->
		<footer class="sixteen columns half-bottom">
			<hr>
			<span class="footerLinks">
				<a target="_blank" href="http://lambdafunction.ca/">Varun Vachhar</a>
				&nbsp; &nbsp; 
				<a target="_blank" href="http://cutuppictures.ca/">Avr&iuml;l Jacobson</a>
			</span>
		</footer>
		<!-- END FOOTER -->

	</div><!-- END CONTAINER -->


<!-- Le Javascript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/libs/modernizr.min.js"></script>
<script src="/libs/swipe.js"></script>
<script type="text/javascript">
  $(window).load(function() {
  	// Prevent dragging img
  	$('#hero img').on('dragstart', function(event) { 
  		event.preventDefault(); 
  	});
  	var elem = document.getElementById('hero');
		window.mySwipe = Swipe(elem, {
		  startSlide: 0,
		  speed: 600,
		  auto: 4000,
		  continuous: true,
		  disableScroll: false,
		  stopPropagation: true
		});
		$("#left").click(function() {
  		window.mySwipe.prev();
		});
		$("#right").click(function() {
  		window.mySwipe.next();
		});
  	// Slide to anchor links
	  $('a').click(function() {
	    var elementClicked = $(this).attr("href");
	    if (elementClicked.substring(0, 1) === "#") {
		    var destination = $(elementClicked).offset().top;
		    $("html:not(:animated),body:not(:animated)").animate(
		    	{ 
		    		scrollTop: destination-15
		    	}, 500 );
		    return false;
		  }
		});
		// Replace svg with png for old browsers
		if(!Modernizr.svg) {
	    $('img[src*="svg"]').attr('src', function() {
	      return $(this).attr('src').replace('.svg', '.png');
	    });
		}
	});
</script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22315045-6', 'callmethey.com');
  ga('send', 'pageview');

</script>
</body>
</html>