<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Call Me They</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons and app icons
	================================================== -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
</head>
<body>
	<!-- CONTAINER -->
	<div class="container">
		<!-- NAVBAR -->
		<div class="sixteen columns small-bottom">
			<div class="navbar">
				<h1>
					<a href="/">Call Me They</a>
					<small class="subheader version">version 1.4</small></h1>
					<ul>
						<li><a href="#about">about</a></li>
						<li><a href="/app" target="_blank">shapeBuilder</a></li>
						<li><a href="/polygons">polygonsExporter</a></li>
					</ul>
			</div>
			<hr />
		</div>
		<!-- END NAVBAR -->

		<!-- HERO -->
		<div class="sixteen columns add-bottom" id="hero"> 
			<div class="swipe-wrap small-bottom">
				<div class="slide"><img src="/img/colours.png"></div>
				<div class="slide"><img src="/img/logo.png"></div>
				<div class="slide"><img src="/img/drawing.png"></div>
			</div>
			<p>INSTALLATION | 254 metal hooks, 8 turnbuckles, silk &amp; thread | 12m x 10m x 8m | SOFTWARE | processing.js, node.js, mongodb &amp; heroku</p>
		</div>
		<!-- END HERO -->

		<!-- ABOUT -->
		<div id="about" class="sixteen columns add-bottom">
			<h2>About</h2>
			<p>Call Me They is my graduation project at the Interactive/Media/Design department at <a target="_blank" href="http://www.kabk.nl/">The Royal Academy of Art</a>, the Hague. It is a response to my exploration of gender as a continuum rather than a binary. The installation allows for a myriad of possibilities from a simple set of imposed constraints. A room is covered in hooks and pieces of fabric are strung between them, creating an over-arching shape. The viewer may interact with the shape to alter and evolve it in an infinite number of ways.</p>
		</div>
		<!-- END ABOUT -->

		<!-- THREE COLUMNS -->
		<div class="one-third column add-bottom">
			<h3>How It Works</h3>
			<img class="one-third column" src="img/two.svg">
			<p>A room is covered in hooks and pieces of fabric are strung between them, creating an over-arching shape. The viewer may interact with the shape to alter and evolve it in an infinite number of ways.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>The Shape-Builder</h3>
			<img class="one-third column" src="img/three.svg">
			<p>I developed custom software in order to be able to design a shape specific to the exhibition space. The app allows users to build complex shapes using 3/4 sided polygons and outputs them as construction plans.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>Specific Shapes</h3>
			<img class="one-third column" src="img/one.svg">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac neque nulla, a ullamcorper mi. Vivamus ipsum metus, feugiat ac commodo eu, posuere nec libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porttitor nulla dui, ac dignissim mi. Duis vel ante eu velit faucibus tristique sit amet a ante. <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>.</p>
		</div>
		<!-- END THREE COLUMNS -->

		<!-- FOOTER -->
		<footer class="sixteen columns half-bottom">
			<hr>
			<span class="footerLinks">&copy; varun vachhar 2013 </span>
			<span class="footerLinks">
				<a target="_blank" href="http://winkervsbecks.com/">winkerVSbecks</a>
				&nbsp; &nbsp; 
				<a target="_blank" href="http://www.kabk.nl/pageEN.php?id=0013">I/M/D</a>
			</span>
		</footer>
		<!-- END FOOTER -->

	</div><!-- END CONTAINER -->


<!-- Le Javascript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/libs/modernizr.min.js"></script>
<script src="/libs/swipe.js"></script>
<script type="text/javascript">
  $(window).load(function() {
  	// Prevent dragging img
  	$('#hero img').on('dragstart', function(event) { 
  		event.preventDefault(); 
  	});
  	var elem = document.getElementById('hero');
		window.mySwipe = Swipe(elem, {
		  startSlide: 0,
		  speed: 600,
		  auto: 4000,
		  continuous: true,
		  disableScroll: true,
		  stopPropagation: true
		});
  	// Slide to anchor links
	  $('a').click(function() {
	    var elementClicked = $(this).attr("href");
	    if (elementClicked.substring(0, 1) === "#") {
		    var destination = $(elementClicked).offset().top;
		    $("html:not(:animated),body:not(:animated)").animate(
		    	{ 
		    		scrollTop: destination-15
		    	}, 500 );
		    return false;
		  }
		});
		// Replace svg with png for old browsers
		if(!Modernizr.svg) {
	    $('img[src*="svg"]').attr('src', function() {
	      return $(this).attr('src').replace('.svg', '.png');
	    });
		}
	});
</script>
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22315045-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>