<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Homesick</title>
	<meta name="description" content="Homesick is the graduation project of Varun Vachhar completed at the Dutch Royal Academy of Art.">
	<meta name="author" content="Varun Vachhar">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons and app icons
	================================================== -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
</head>
<body>
	<!-- CONTAINER -->
	<div class="container">
		<!-- NAVBAR -->
		<div class="sixteen columns small-bottom">
			<div class="navbar">
				<h1>
					<a href="/">Homesick</a>
					<small class="subheader version">version 1.8</small></h1>
					<ul>
						<li><a href="#about">about</a></li>
						<li><a href="/app" target="_blank">shapeBuilder</a></li>
						<li><a href="/polygons">polygonsExporter</a></li>
					</ul>
			</div>
			<hr />
		</div>
		<!-- END NAVBAR -->

		<!-- HERO -->
		<div class="sixteen columns add-bottom" id="hero"> 
			<div class="swipe-wrap small-bottom">
				<div class="slide"><img src="/img/colours.png"></div>
				<div class="slide"><img src="/img/logo.png"></div>
				<div class="slide"><img src="/img/drawing.png"></div>
			</div>
			<p>INSTALLATION | 95 metal hooks, 16.5m of steel cable, 1 turnbuckle, 103 sq.m. of cloth &amp; thread | 6.80m x 5.00m x 3.88m | SOFTWARE | processing.js, three.js, angular.js, node.js, mongodb &amp; heroku</p>
		</div>
		<!-- END HERO -->

		<!-- ABOUT -->
		<div id="about" class="sixteen columns add-bottom">
			<h2>About</h2>
			<p>Homesick is my graduation project at the Interactive/Media/Design department at <a target="_blank" href="http://www.kabk.nl/">The Royal Academy of Art</a>, the Hague. It started out as <em>Call Me They</em> – a response to my exploration of gender as a continuum rather than a binary. Over time though, my feelings of being homesick for India over powered the rest. After a five year gap I finally had a chance to visit India again last year. Once there I discovered that my childhood home had been sold, soon to be demolished and replaced by an apartment building. My family there had moved from the neighbourhood I spent 18 years in to the outskirts of Delhi. And the Delhi I knew had been replaced by something entirely new. This loss meant that my homesickness had not been cured despite visiting the country twice in six months. I felt more Indian than I had ever done before, yet it seemed as though a large part of me was missing. I tried to deal with these emotions. Bring them out in my work, but I couldn't figure out how to. The thoughts remained with me very strongly.</p> 

			<p>I started to immerse myself in Indian movies, music and news. And tried to bring out this 'Indian-ness' in every aspect of life. Even my thesis on gender had a strong Indian influence to it. Therefore, I believe over time this seeped into my subconscious and had a very dramatic impact on the trajectory of this project. Unbeknownst to me this installation had become a lot about my need to find a cure for my homesickness.</p> 

			<p><em>Thanks to Avrïl Jacobson, Micca Teo, Luka Kueter and Maya Yenna. </em></p>
		</div>
		<!-- END ABOUT -->

		<!-- THREE COLUMNS -->
		<div class="one-third column add-bottom">
			<h3>How It Works</h3>
			<img class="one-third column" src="img/two.svg">
			<p>A room is covered in hooks and pieces of fabric are strung between them, creating an over-arching shape. Placed through out this structure are subtle stimulations for the viewer's senses.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>The Shape-Builder</h3>
			<img class="one-third column" src="img/threeDark.svg">
			<p>I developed custom software in order to be able to design a shape specific to the exhibition space. The app allows users to build complex shapes using 3/4 sided polygons and outputs them as construction plans.</p>
		</div>
		<div class="one-third column add-bottom">
			<h3>Specific Objects</h3>
			<img class="one-third column" src="img/one.svg">
			<p>I have been greatly influenced by Donald Judd's idea of Specific Objects in creating this installation. In Judd's words: <em>"Three dimensions are real space. That gets rid of the problem of illusionism and of literal space, space in and around marks and colours."</em></p>
		</div>
		<!-- END THREE COLUMNS -->

		<!-- FOOTER -->
		<footer class="sixteen columns half-bottom">
			<hr>
			<span class="footerLinks">&copy; varun vachhar 2013 </span>
			<span class="footerLinks">
				<a target="_blank" href="http://winkervsbecks.com/">winkerVSbecks</a>
				&nbsp; &nbsp; 
				<a target="_blank" href="http://www.kabk.nl/pageEN.php?id=0013">I/M/D</a>
			</span>
		</footer>
		<!-- END FOOTER -->

	</div><!-- END CONTAINER -->


<!-- Le Javascript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/libs/modernizr.min.js"></script>
<script src="/libs/swipe.js"></script>
<script type="text/javascript">
  $(window).load(function() {
  	// Prevent dragging img
  	$('#hero img').on('dragstart', function(event) { 
  		event.preventDefault(); 
  	});
  	var elem = document.getElementById('hero');
		window.mySwipe = Swipe(elem, {
		  startSlide: 0,
		  speed: 600,
		  auto: 4000,
		  continuous: true,
		  disableScroll: false,
		  stopPropagation: true
		});
  	// Slide to anchor links
	  $('a').click(function() {
	    var elementClicked = $(this).attr("href");
	    if (elementClicked.substring(0, 1) === "#") {
		    var destination = $(elementClicked).offset().top;
		    $("html:not(:animated),body:not(:animated)").animate(
		    	{ 
		    		scrollTop: destination-15
		    	}, 500 );
		    return false;
		  }
		});
		// Replace svg with png for old browsers
		if(!Modernizr.svg) {
	    $('img[src*="svg"]').attr('src', function() {
	      return $(this).attr('src').replace('.svg', '.png');
	    });
		}
	});
</script>
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22315045-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>