/* NAVBAR */
.navbar {
	margin-top: 40px;
	overflow: hidden;
  position: relative;
  font-family: "Vollkorn","Georgia", "Times New Roman", serif;
}
.navbar h1 {
	display: inline-block;
	float: left;
	margin: 0;
	line-height: 1.0;
	font-style: italic;
}

.navbar ul {
	display: inline-block;
	color: #7F8C8D;
	position: absolute;
  bottom: 0; 
  right: 0;
  margin: 0;
}

.navbar ul li {
	display: inline;
	list-style: none;
}

.navbar ul li:not(:first-child) {
	margin-left: 10px;
}

.navbar ul li a {
	color: #7F8C8D;
	border-bottom: none;
}
.navbar ul li a:hover {
	color: #000;
}

p.lead { 
	font-size: 24px; 
	line-height: 31px; 
	color: #7F8C8D;
}

/* HERO */
#hero {
  overflow: hidden;
  width:100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transform-style: preserve-3d;
}
#hero ul.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #fff;
  border-radius: 6px;
}
#hero ul {
  transform: translate3d(0%,0,0) scale3d(1,1,1);
  -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
  -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  position: relative;
  background: #fff;
  border-radius: 6px;
}
#hero li {
  float: left;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0);
}
#hero li img {
  width: 100%;
  border-radius: 6px;
}

/* THREE COLUMNS */
img.one-third.column  {
	margin: 0 !important;
}

/* FOOTER */
.footerLinks {
	display: inline-block;
}
.footerLinks:last-child {
	float: right;
}


/* HELPER */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}


/* MEDIA QUERIES */
@media all and (max-width: 767px) {
	.navbar h1 {
		display: block !important;
		width: 100%;
		line-height: 50px;
		margin-bottom: 24px;
	}
	.navbar ul {
		display: block !important;
		width: 100%;
		float: left;
		text-align: left;
	}

	.navbar h1 a {
		border-bottom: 0;
	}
	.navbar h1 {
		margin-bottom: 40px;
	}
}	

@media all and (max-width: 480px) {
	.footerLinks {
		display: block;
		float: left;
		width: 100%;
	}
	.version {
		display: none;
	}
}


/* SELECT */
/*green: 6AD179*/
::selection {
  background: #2C3E50;
  color:#fff;
}
::-moz-selection {
  background: #2C3E50; 
  color:#fff;
}
::-webkit-selection {    
  background: #2C3E50;
  color:#fff;
}